body {
    font-family: Arial;
    background-color: #e3f2fd;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    background: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
}
