body {
  font-family: Tim;
  margin: 20px;
}
.block-menu a {
  display: block;
  background-color: navy;
  color: white;
  padding: 15px;
  margin: 2px 0;
  text-decoration: none;
}
.inline-menu a {
  display: inline;
  background-color: cyan;
  color: purple;
  padding: 15px;
  margin: 2px;
  text-decoration: none;
}
.inline-block-menu a {
  display: inline-block;
  background-color: purple;
  color: yellow;
  height: 50px;
  width: 100px;
  padding: 15px;
  margin: 2px;
  text-decoration: none;
}
.float-menu a {
  float: left;
  background-color: brown;
  color: white;
  padding: 15px 15px;
  margin: 4px;
  text-decoration: none;
}